@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Poppins&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


nav {
  font-family: 'Inter', sans-serif;
  transition: all 500ms ease;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #d3152e;
  transition: width 0.3s ease;

}

.nav-link:hover::after {
  width: 50%;
}

.active::after {
  content: '';
  width: 75%;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  background: #d3152e;

}

footer {
  font-family: 'Poppins'
}


/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.address {
  max-width: 400px;
  font-family: 'Inter', sans-serif;
}

h1,
h2,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-family: 'Inter', sans-serif;
}

p {
  font-family: 'Inter', sans-serif;
}

.avanage {
  background: rgb(224, 17, 17);
  background: linear-gradient(175deg, rgba(224, 17, 17, 1) 0%, rgba(75, 48, 53, 1) 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  background-repeat: repeat;
  -webkit-text-fill-color: transparent;
}

.header-text {
  font-size: 72px;
  font-weight: 600;
}

@media screen and (max-width:768px) {
  .header-text {
    font-size: 36px;
  }

  .logo {
    max-width: 150px;
    height: auto;
  }
}

.slide-left {
  animation: slideleft 1.5s linear forwards;
}

@keyframes slideleft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.slide-right {
  animation: slideright 1.5s linear forwards;
}

@keyframes slideright {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products,
.management {
  padding-top: 80px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: white;
  overflow: hidden;
}

.product__card {
  height: 400px;
  max-width: 300px;
  transition: all 400ms ease;
  cursor: pointer;
}

.product__card img {
  height: 250px;
  width: auto;
  object-fit: cover;
}

.product__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.big {
  font-size: 72px;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
}