@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins&family=Roboto:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: all 400ms;
}

nav {
  font-family: 'Poppins', sans-serif;
  transition: all 500ms ease;
}

.nav-link::after {
  content: '';
  width: 0;
  height: 3px;
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  transition: width 0.3s ease;

}

.nav-link:hover::after {
  width: 75%;
}

.card {
  height: 70vh;
  position: absolute;
  right: 12.5%;
  font-family: 'Inter', sans-serif;
}

.contain {
  height: 70vh;
}

@media screen and (max-width:1024px) {
  .card {
    height: fit-content;
    position: absolute;
    right: 8.5%;
  }
}

.name {
  font-family: 'Roboto', sans-serif;
}

nav:hover {
  background-color: white;
  color: blueviolet;
}

.personal-image {
  max-height: 65vh;
  width: auto;
}

.main-wrapper {
  height: 100vh;
}

.about {
  padding-top: 20px;
}



/* .about::before {
  content: '';
  width: 20%;
  height: 3px;
  background-color: blueviolet;
  position: absolute;
  transform: translateX(-40%);
  top: -2%;
}

.about::after {
  content: '';
  width: 20%;
  height: 3px;
  background-color: blueviolet;
  position: absolute;
  bottom: 2%;
}
*/

@media screen and (min-width:1024px) {
  .paragraph {
    max-width: 60vw;
  }
}

h2 {
  font-family: 'Poppins';
}

p {
  font-family: 'Inter';
}

.btn1 {
  padding: 10px;
  align-items: center;
  border: 2px solid blueviolet;
  border-radius: 10px;
  color: blueviolet;
  transition: all 400ms ease-in;
  margin-right: 10px;
}

.btn2 {
  padding: 10px;
  align-items: center;
  border: 2px solid blueviolet;
  background: blueviolet;
  border-radius: 10px;
  color: #fff;
  transition: all 400ms ease-out;
}

.btn1:hover {
  background: blueviolet;
  color: #fff;
}

.btn2:hover {
  background: #fff;
  color: blueviolet;
}

#skills {
  font-family: 'Poppins', sans-serif;
}

.portfolio__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  font-family: 'Inter', sans-serif;
}

.portfolio__item {
  background: rgb(124, 58, 237);
  padding: 1.3rem;
  border: 1px solid transparent;
  transition: var(--transition);
}


.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

@media screen and (max-width:1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

@media screen and (max-width:600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.btn {
  padding: 10px;
  align-items: center;
  background: white;
  border-radius: 10px;
  color: blueviolet;
  transition: all 400ms ease-in;
  margin-right: 10px;
}

.btn:hover {
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
}

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(0px);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}